@model PixelPlay.Models.Products
@{
    ViewData["Title"] = "Details";

}
@using PixelPlay.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Products> products = HttpContextAccessor.HttpContext?.Session?.Get<List<Products>>("products") ?? new List<Products>();

    Products? product = null;

    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }

}

<br />

<h2 class="text-info">Product Details</h2>
<form asp-action="Detail" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="GameName"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="GameName" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Publisher"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Publisher" readonly="readonly" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Platform"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Platform" readonly="readonly" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ReleaseDate">Release Date</label>
                </div>
                <div class="col-8">
                    <input asp-for="ReleaseDate" readonly="readonly" class="form-control" class="form-control" />
                </div>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            @*<div class="form-group row">
            <div class="col-4">
            <label asp-for="Image"></label>
            </div>
            <div class="col-8">
            <input asp-for="Image" class="form-control" type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Description" readonly="readonly" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypeId"></label>
                </div>
                <div class="col-8">
                    @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                    <input asp-for="ProductTypes.ProductType" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    @if (product != null)
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove to Cart</button>
                    }
                    else
                    {
                        <input type="submit" class="btn btn-info form-control" value="Add to Cart" />
                    }
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef" />
            @if (Model.IsAvailable)
            {
                <img src="~/Images/instock.png" width="200px" height="50px" />
            }
            else
            {
                <img src="~/Images/notinstock.jpg" width="200px" height="50px" />
            }

        </div>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



